nav.navbar.navbar-expand-xl.navbar-dark.fixed-top.shadow-sm.pb-3.pt-2.bg-dark
    h3.my-auto.justify-content-end.text-light PhotoFrame
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse.justify-content-end.lead#navbarSupportedContent
        ul.navbar-nav.mr-2
            li.nav-item.mx-1: a.nav-link.text-white(href="/") Home    
            div.dropdown-divider
            li.nav-item.mx-1: a.nav-link.text-white(href="/Gallery") Gallery 
            div.dropdown-divider
            li.nav-item.mx-1: a.nav-link.text-white(href="/Upload") Upload
            div.dropdown-divider
            li.nav-item.mx-1: a.nav-link.text-white(href="/settings") Settings
    