extends base

block content
  .container
    div.py-4
      h1.text-center.display-4#headLineText Image Gallery
      hr
      div.gallery#gallery
        each image in images
          div.mb-3.pics.animation.all
            img.img-fluid(src=`\\images-thumbnails\\${image}` alt="Card image cap")
 

