extends base

block content
  .container
    div.py-4
        h1.text-center.display-4#headLineText Home
        hr
        h3.text-center.
         This is the home page of the photoframe. Use the menu above to see all the images on your photoframe in the gallery, upload new images and configure the settings of the photoframe.
         In the gallery page the images can be clicked on to see it individually as well as giving the option to delete it.