extends base

block content
  .container
    div.py-4
        h1.text-center.display-4#headLineText Home
        hr
        h3.text-center.
         This is the home page of the photoframe. Use the menu above to see all the images on your