doctype html
html(lang='en')
    head 
        title Live View
    body
        h1 This is the live view
        h2 The time is #{time}
        img(src=`\\images-thumbnails\\${image}` height=300 width=300)

    script.
        var name = 'Andrew';
        setTimeout(() => {
            //- const Http = new XMLHttpRequest();
            //- const url = '/live';
            //- Http.open("GET", url);
            //- Http.send();
            window.location.reload(true); 

        }, 5000);
        
