extends base

block content
  .container
    div.py-4
        h1.text-center.display-4#headLineText Settings
        hr
        .container.pt-2
          .row.justify-content-center
            .col.border.col-md-12.col-11.bg-white.shadow-sm.mt-3
              form(method="post" encType="application/x-www-form-urlencoded" action='/settings')
                div.row.justify-content-center.my-2
                  .col-6.col-xl-3.text-center
                    label.col-form-label(for="interval") Slide Interval
                  .col-6.col-xl-3 
                    select.custom-select#interval(name="interval")
                      option(value="10") 10 Seconds
                      option(value="20") 20 Seconds
                      option(value="30") 30 Seconds
                      option(value="40") 40 Seconds
                      option(value="50") 50 Seconds
                      option(value="60") 60 Seconds
                div.row.justify-content-center.my-2
                  .col-6.col-xl-3.text-center
                    label.col-form-label(for="photoOrder") Photo Order
                  .col-6.col-xl-3 
                    select.custom-select#photoOrder(name="photoOrder")
                      option(value="random") Random
                      option(value="UploadOrder") In Order of Upload
                div.row.mt-4.mb-2
                  input.btn.btn-secondary.mx-auto(type="submit" value="Save Settings")
        br        
        h2.text-center.display-5#status Save Complete

  script.
    var isSaveComplete = "!{saveStatus}";
    const statusText = document.getElementById("status");
    if (isSaveComplete === "True"){
      statusText.style.display = "block";
      statusText.style.color = "green";
      setTimeout(() => {
        statusText.style.display = "none";
      }, 5000);
    } else if (isSaveComplete === "Error"){
        //Flash error message
        statusText.innerHTML = "Error settings undefined or blank";
        let flash = true;
        statusText.style.color = "red";
        setInterval(()=> {
          console.log("Test");
          if (flash){
            statusText.style.display = "block";
            flash = false;
          } else {
            statusText.style.display = "none";
            flash = true;
          }
      }, 1000);
    } else {
      statusText.style.display = "none";
    } 

    //display the current settings for the photoframe
    const timeSelector = document.getElementById("interval");
    //convert the collection into an array
    const arrayInterval = Array.from(timeSelector.children);
    arrayInterval.forEach((cur) => {
        if (cur.value == !{currentInterval}){
          cur.selected = true;
        }
      }
    );

    const orderSelector = document.getElementById("photoOrder");
    //convert the collection into an array
    const arrayOrder = Array.from(orderSelector.children);
    arrayOrder.forEach((cur) => {
        if (cur.value == "!{currentOrder}"){
          cur.selected = true;
        }
      }
    );
