
extends base

block content 
  
  div.pt-3
    h1.text-center.display-4#headLineText Upload Image
    .container
      .row.justify-content-center
        hr.col-10.col-sm-11.col-lg-12
        span.col-10.col-sm-11.col-lg-12.text-center.mt-2 Please upload a jpg image file only. Other image files are not supported
    .container.pt-2
      .row.justify-content-center
        .col.border.col-md-12.col-11.bg-white.shadow-sm.mt-3
          form(method="post" encType="multipart/form-data" action='http://localhost:4000/upload')
            div.row.custom-file.mx-auto.my-2
              input.custom-file-input#customFile(name="imageToUpload" type="file")
              label.custom-file-label(for="customFile") Choose File (.jpg or .jpeg only)
            div.row.m-2
              input.btn.btn-secondary.mx-auto(type="submit")




      //- .div.row.justify-content-center.col.col-xl-12
      //-   form.border(method="post" encType="multipart/form-data" action='http://localhost:4000/upload')
      //-     div.row
      //-       input.custom-file-input#customFile(name="imageToUpload" type="file")
      //-       label.custom-file-label(for="customFile") Choose File
      //-     div.row
      //-       input.btn.btn-secondary.mx-auto(type="submit")




